GCP_PROJECT_ID=your-project-id
GCP_REGION=europe-west1

PUBSUB_TOPIC_MOVIE_EVENTS=movie-events
PUBSUB_TOPIC_REVIEW_SUBMITTED=review-submitted
PUBSUB_TOPIC_REVIEW_PROCESSED=review-processed

BIGQUERY_DATASET=reelpulse
BIGQUERY_TABLE_MOVIE_VIEWS=movie_views

MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/reelpulse

GEMINI_API_KEY=your-gemini-api-key

SERVICE_A_URL=http://localhost:3001
NOTIFICATION_SERVICE_URL=http://localhost:3002
VITE_API_URL=http://localhost:3001
VITE_WS_URL=ws://localhost:3002
